@charset "utf-8";
/*Contact Stylesheet*/

body
{
	
}

main
{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	padding-left: 10%;
	padding-right: 10%;
}

/*////////////////////////////////////////////////////////////////////*/
/**/


/*Tablet*/
@media only screen and (max-width: 768px)
{
	
}

/*Mobile*/
@media only screen and (max-width: 400px)
{
	
}